# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~.nib

# Archives
*.xcarchive

# Code coverage
*.gcda
*.gcno
*.profdata
*.profraw
